body {
    background-image: url("https://steamuserimages-a.akamaihd.net/ugc/950716629248934502/CAB19995DBE3FE7C8F431B6F674DC12119215595/");
    background-attachment: fixed; 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
}

.header-flex {
    display: flex;
    justify-content: space-around;
}

h1  {
    font-family: 'Comic Neue', cursive;
    color: #ff0;
    text-align: center;
    font-size: 15rem;
    margin: 0;
    line-height: 14rem;
    text-shadow: 6px 6px 9px rebeccapurple;
}

.video {
    text-align: center;
    margin-bottom: 10rem;
}

.flex-box {
    display: flex;
    justify-content: space-evenly;
}

.classTimeBox {
    background-color: white;
    width: 30rem;
}

.aside {
    background-color: white;
    width: 30rem;
}

.navbar {
    display: flex;
}