body {
   background-image: url(pfp.png); 
   justify-content: right;
   font-family: 'Comic Neue', cursive;
   color: white;
}

.studentCrocs {
    text-align: right;
    
}

.logo {
    height: 18rem;
    text-align: left;
    border-radius: 10em;
  }

  .testimony {
    text-align: left;
  }

  a {
      color: white;
  }

  .crocImage {
    border-radius: 2em;
  }