body {
   /* background-image: url(pfp.png);  */
   justify-content: right;
   font-family: 'Comic Neue', cursive;
   color: white;
   animation: mymove 30s ;
   animation-duration: 3s;
 }
  @keyframes mymove {
    50% {transform: rotate(360deg);}
}

html {
    background-image: url(pfp.png);
    animation-duration: 1s;
    animation-name: spin;
    animation-iteration-count: infinite;
}
@keyframes spin{
    69% {background-position: center;} 
  }

.studentCrocs {
    text-align: center;
  
}
.crocInfoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.crocInfo {
    border: 1px solid black;
    border-radius: 2em;
    padding: 5em;
    max-width: 8em;
}

.alternate {
    height: 18rem;
    text-align: left;
    border-radius: 10em;
  }

  .testimony {
    text-align: left;
  }

  a {
        color: white;
        text-decoration: none;
        font-weight: bold; 
  }

  .crocImage {
    border-radius: 2em;
    text-align: center;
  }

  a:link, :visited{
    color: orangered; 
    
}

a:hover{
    text-decoration: none;
    font-weight: bold; 
    color: white;
}

.current-page{
    border-bottom: solid greenyellow 2px;
}

.navBar:hover {
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
    padding: 20px;
    background-color: orangered;

}

